#main-grid{
  display: grid;
  justify-content: center;
}

.time-display,
#main-grid img {
  grid-column: 1;
  grid-row: 1;
}

.time-display {
  font-family: 'LCD7';
  color: hsl(345, 80%, 60%);
  font-size: 25px;
  position: relative;
  left: 1030px;
  top: 244px;
}

.ph {
  color: #1a1a1a;
}
