#main-grid{
  display: grid;
  justify-content: center;
}

.time-display,
#btn-row,
#main-grid img {
  grid-column: 1;
  grid-row: 1;
}

#btn-row {
  cursor: pointer;
  position: relative;
  top: 0;
  display: flex;
  gap: 3px;
  left: 1017px;
  top: 275px;
}

.ph {
  color: #1a1a1a;
}

.time-display {
  font-family: 'LCD7';
  color: hsl(345, 80%, 60%);
  font-size: 25px;
  position: relative;
  left: 1030px;
  top: 244px;
}

.btn {
  width: 39px;
  height: 27px;
  background-image: url('./assets/images/button.png');
}

.btn:hover {
  filter: brightness(1.5);
}

.btn:active {
  background-image: url('./assets/images/button-pressed.png');
}
