/* @font-face { */
/*   font-family: 'LCD14'; */
/*   src: local('LCD14'), url('./assets/fonts/LCD14.otf'); */
/* } */

@font-face {
  font-family: 'LCD7';
  src: local('LCD7'), url('./assets/fonts/LCD7.otf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #121212;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
